*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	
	font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}
/* GLOBAL */
:root{
	--primary-color: #ffffff;
	--common-color:#181c3a;
	--background-section-color: #f6f6f6;
	--link-background-color:#7289da;
}
.common-color{
	color: var(--common-color);
	font-size: 1.2em;
}
/* GLOBAL */
/* 
DEBUG--------------------------------------------------------------------------------
*/
/* inizio footer */
.debug footer{
	background-color: #23272a;
}
.debug .main-foot-box{
	height: 655px;
}

.debug .left-box{
	background-color: #f08686;
	height: 600px;
}
.debug .foot-box{
	background-color: #20b2aa;
	height: 600px;
	border: 2px dashed rgb(255, 255, 255);
}

.debug .final{
	background-color:#ffb6c1;
}

.debug .final-background{
	background-color: #7fffd4;
}
/* fine footer */

 /* 
DEBUG
*/
/* ********************************************************************************************************** */
/* header */
	/* 
	barra navigazione principale
	*/
	header{
		background-image: url("../img/jumbo.png");	
		background-size: contain;
		height: 575px;
		display: flex;
		background-repeat: no-repeat;
	} 

	.nav-container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-bar{
		display: flex;
		width: 1248px;
		justify-content: space-around;
		align-items: center;
	}

	.nav{
		padding: 10px;
	}

	.link-container{
		display: flex;
	}

	a{
		text-decoration: none; 
		color: var(--primary-color);
	}

	/* 
	barra navigazione principale
	*/
		/* 
			box sotto barra navigazione
		*/
		.under-nav{
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.big-box-under-nav{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.first-title{
			margin-top:86px;
			margin-bottom:30px;
		}
		.big-box-under-nav,h1,p {
			color: var(--primary-color);
		}
		.central-paragraph {
			text-align: center;
		}
		.final-link-header {
			margin-top: 20px;
		}
		.border-geometry{
			padding: 8px;
			border-radius: 30px;
			background-color: white;
		}
		.space{
			margin-left: 10px;
		}
		.background-link{
			color: white;
			background-color: #23272a;
			font-size: 1.2em;
		}
/* header */

/* 
 inizio main-\-\-\-\-\--\-\-\\-\-\-\--\\--\-\\-\--\-\-\-\-\-\-\-\-\--\-\-\-\-\---\-----\-\--\--\\-\-\--\-\-\-\-\-\-\-\-\\-\-\-\-\-\-\-\-
*/
		/* prime 3 section */

.container-box{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
h2{
	font-size: 2.8em;
	margin-bottom: 25px;
	color: black;
}

.section-paragraph p{
	margin-bottom: 6px;
}
.back-color{
	background-color: var(--background-section-color);
}
.second-section{
	margin: 0 30px 150px 0;
}

section{
	margin-bottom: 60px;
}
	/* prime 3 section */
	/* sectio finale final ------------*/
.container-final-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
.final-title-section{
	text-align: center;
	margin: 10px 0 20px 0;
}
.section-paragraph{
	text-align: center;
}
.quiz-final-sec h3{
	text-align: center;
}
.final-link-section{
	background-color:var(--link-background-color);
	color: white;
}
.link-f-sec{
	text-align: center;
	padding-top: 20px;
}
.four-sec-main-box{
	padding: 30px;
}

	/* sectio finale final */

/* 
fine main
*/

/*
 inizio footer-----------------------------------------------------------------------------------------------------------
*/
/* prima sezione footer -----------------------------------------*/

.main-foot-box{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 25px;
}
.left-box{
	width: 370px;
}
.foot-box{
	width: 220px;
}

.first-space{
	background-color: #b4b4b3;
}

.second-space{
	background-color: #d7d7d8;
}
/* fine prima sezione footer */
/* inizio ultima parte navbar */
.margin-control{
	padding-top: 27px;
}
/* fine ultima parte navbar */
/* 
fine footer
*/